################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

project.lock.json

bin/
obj/
*.exe