################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChocoPacker.InnoSetup/project.lock.json
